{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }} {% endblock %}

<style>
{% block style %}
{% endblock %}
</style>

{% block jumbotron %}
<div class="jumbotron">
	<div class="row">
		<div class='col-xs-6'>
		<h1>Try Django 1.8</h1>
		<p>This is soly for learning purpose</p>
		<p>
		  <a class="btn btn-lg btn-primary" href="" role="button">Join us &raquo;</a>
		</p>
		</div>
		<div class='col-sm-6' style="background-color:black;height:200px;">
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xs-3 pull-right">
		<p class>{{ title }}</p>

		<form method='POST' action=''> {% csrf_token %}
		<!-- <input type='text'> -->
		{{ form|crispy }}
		<input class='btn btn-primary' type='submit' value='Sign Up'>

		</form>
  </div>
	<div class='col-sm-3'>
	<p class='text-align-center'>Built with Django &amp; Bootstrap</p>
	</div>
	<div class='col-sm-3'>
	<p class='text-align-center'>Second awesome</p>
	</div>
	<div class='col-sm-3'>
	<p class='text-align-center'>Third column</p>
	</div>
</div>
{% endblock %}